gradio_imageslider
gradio==4.36.0
torch
torchvision
opencv-python
matplotlib
huggingface_hub

accelerate==0.27.2
diffusers==0.30.2
numpy==1.26.4
tokenizers==0.15.2
torch==2.2.0
torchvision==0.17.0
transformers==4.37.2
xformers==0.0.24
h5py
scipy
setuptools